<section id="footer">
    <div>
      <h2>Developed by GNU/Linux Users' Group, NIT Durgapur</h2>
      <a href="https://www.facebook.com/nitdgplug" class="social"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/nitdgplug/" class="social"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/lugnitdgp/mycompany/" class="social"><i class="fab fa-linkedin"></i></a>
    </div>
</section>
</body>
</html>
