<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
    integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <title>Perplexity 2021</title>
  <link rel="stylesheet" href="css/button.css">
  <link rel="stylesheet" href="css/game.css" />
</head>

<body>
  <p id="player-id" hidden><%= user._id %></p>
  <header>
    <div class="container-fluid navbar-sec">
      <nav class="navbar fixed-top navbar-inverse navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <span class="perplexity">Perplexity</span>
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
          aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" />
        </button>
        <div id="navbar-links" class="collapse navbar-collapse">
          <ul class="navbar-nav  ml-md-auto d-md-flex">
            <li class="nav-item nav-link" data-toggle="collapse">
              <img src="<%= user.profilePhoto %> " class="avatar mr-3" /><span id="player-name"><%= user.name %></span>
            </li>
            <li class="nav-item" data-toggle="collapse">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="container wrapper">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="container">
          <div class="row">
            <div class="col-12 main-cont">
              <h1 class="mt-3">Let's Bid</h1>
              <div class="container mt-3">
                <input type="number" name="bid-value" id="bid-amt" placeholder="Amount" />
                <p id="name"></p>
                <button id="bid-btn" class="btn btn-lg"><span class="first">Bid</span></button>
              </div>
              <br />
              <h4 id="timer">Time left:</h4>
              <ul id="categories" style="color: white;" class="mt-2"></ul>
              <input placeholder="Enter your category" style="display: none;" type="text" name="categoryInput"
                id="categoryInput">
              <!-- <div class="dropdown show mb-5 categories" style="display: none;">
                <a class="button btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Enter Your Category
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div> -->
              <button style="display: none;" style="display: none;" id="category-btn" type="submit"
                class="btn btn-lg mt-2"><span class="first">Submit</span></button>
              <h5 id="question"></h5>
              <input placeholder="Enter your answer" style="display: none;" type="text" name="answer" id="answer"
                class="mt-2">
              <button id="answerSubmit" type="submit" style="display: none;" class="btn btn-lg mt-3 mb-3"><span
                  class="first">Submit</span></button>
            </div>
            <br /><br />
            <div class="col-12 bid-cont">
              <h2 class="mt-3">Bid History:</h2>
              <ul id="bid-history" class="mt-3"></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="leaderboard">
          <h1>leaderboard</h1>
          <div class="list" id="leader-board"></div>
          <!-- <table id="leader-board" style="color: white;"> -->
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</body>

</html>

<!-- <%- include('partials/footer'); -%> -->