<%- include('partials/header'); -%>

<link rel="stylesheet" href="css/home.css" />

<div class="container">
  <a href="/"><h1 id="title" class="glow">Perplexity</h1></a>

  <h2 id="typewriter">
    <span class="txt-type" data-wait="3000"></span>
  </h2>

  <div id="auth-btns">
    <a href="/login">
      <div class="btn">
        <h1>Log<span class="first">in</span></h1>
      </div>
    </a>

    <a href="/signup">
      <div class="btn">
        <h1>Regis<span class="first">ter</span></h1>
      </div>
    </a>
  </div>
</div>
<script src="js/typewriter.js"></script>

<%- include('partials/footer'); -%>