<%- include('partials/header'); -%>

<link rel="stylesheet" href="css/home.css" />

<div class="container">
  <a href="/"><h1 id="title" class="glow">Perplexity</h1></a>

  <h2 id="typewriter">
    <span class="txt-type" data-wait="3000"></span>
  </h2>

  <div id="auth-btns">
    <a href="/auth/google">
      <div class="btn">
        <span class="first"><i class="fab fa-google"></i></span>
      </div>
    </a>

    <a href="/auth/github">
      <div class="btn">
        <span class="first"><i class="fab fa-github"></i></span>
      </div>
    </a>
  </div>
</div>
<script src="js/typewriter.js"></script>

<%- include('partials/footer'); -%>
