<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perplexity</title>
  </head>
  <body>
    <form action="/admin/question" method="POST">
      <label for="question">Question: </label>
      <textarea name="text" id="" cols="40" rows="5"></textarea>
      <br /><br />
      <label for="answer">Answer: </label>
      <textarea name="answer" id="" cols="40" rows="5"></textarea>
      <br /><br />
      <label for="duration">Duration: </label>
      <input name="duration" type="text" />
      <br /><br />
      <label for="category_name">Category: </label>
      <select name="category_name">
        <% categories.forEach((category) => { %>
        <option value="<%= category.name %>"><%= category.name %></option>
        <% }) %>
      </select>
      <br />
      <br />
      <button type="submit">Submit</button>
    </form>
    <br /><br />

    <% questions.forEach((question) => { %>
    <p><%= question %></p>
    <% }); %>
  </body>
</html>
