/* CSS specifically for the game page */
@font-face {
    font-family: PerfectDarkBRK;
    src: url("../fonts/pdark.ttf");
}
  
@font-face {
    font-family: Zekton;
    src: url("../fonts/zekton\ rg.ttf");
}

html,body {
    padding: 0;
    margin:0;
}

body {
    background-image: url('../img/bg1.jpg');
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: auto;
}

.navbar {
    text-shadow:1px 1px 0px #888;
    background-color:rgba(0,0,0,.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.navbar .navbar-brand .perplexity {
    color: white;
    font-family: PerfectDarkBRK;
}

.navbar .nav-link{
    color: white !important;
    font-family: Zekton;
    font-weight: 600;
}

.navbar .avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.wrapper {
    margin-top: 8%;
}

.bid-cont {
    margin-top: 10%;
}

.main-cont, .bid-cont , .leaderboard{
    text-shadow:1px 1px 0px #888;
    background-color:rgba(52,60,65,.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-cont h1, .bid-cont h2, .leaderboard h1{
    color: white;
    text-align: center;
    font-size: 2.8rem !important;
    font-family: PerfectDarkBRK;
    letter-spacing: 0.14ch;
}

.main-cont #question{
    color: white;
    text-align: center;
    font-size: 1.2rem !important;
    font-family: Zetkon;
}

.main-cont #answerSubmit, #bid-btn {
    width: auto;
}

.main-cont input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: Zekton;
    font-weight: 700;
    letter-spacing: 0.12ch;
    outline: 0;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
.main-cont input:focus {
    background: #d2d9dd;
    color: black;
}

a:hover {
    text-decoration: none;
}

.main-cont .button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: Zekton;
    font-weight: 600;
    letter-spacing: 0.12ch;
    outline: 0;
    padding: 10px;
    width: 350px;
    box-sizing: border-box;
    background-color: #e8eeef !important;
    color: #8a97a0 !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}
.main-cont .button:focus {
    background: #d2d9dd;
    color: black;
}

.dropdown-menu {
    font-family: Zekton;
}

.main-cont .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-cont .btn {
    font-family: Zekton;
    letter-spacing: 0.12ch;
    font-weight: 600;
    width: auto;
}

.main-cont #timer {
    color: white;
    font-family: Zekton;
    font-weight: 600;
}

#question {
    font-family: Zetkon;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.12ch;
}

.bid-cont h2 {
    font-size: 2.5rem !important;
    letter-spacing: 0.16ch;
}

.bid-cont #bid-history li{
    font-family: Zekton;
    color: white;
    font-size: 1.5rem;
}

#leaderboard {
    font-family: Zetkon;
    font-size: 1.2rem;
}

.list .item {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    color:#aafffe;
    
    height: auto;
    border-radius: 3rem;
    margin-bottom: 2rem;
    background-color: rgba(3, 32, 44, 0.4);
    backdrop-filter: blur(3px);
    border: 1px solid #32c8c6;
    -webkit-transform-origin: left;
            transform-origin: left;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.list .item .pos {
    font-weight: 900;
    position: absolute;
    left: -2rem;
    text-align: center;
    font-size: 0.9rem;
    width: 1.5rem;
    color: #fff;
    font-weight: 500;
    opacity: 0.6;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.list .item .pic {
    width: 40px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
    margin: 8px;
}

.list .item .name {
    -webkit-box-flex: 2;
            flex-grow: 2;
    flex-basis: 10rem;
    font-size: 0.9rem;
    font-family: Zetkon;
}

.list .item .score {
    margin-right: 1.5rem;
    font-weight: bold;
}

.list .item .score:after {
    margin-right: 1rem;
}
  

@media only screen and (max-width: 767px) {
    .leaderboard {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 576px) {
    .wrapper {
        margin-top: 18%;
    }
    .main-cont h1,.bid-cont h2, .leaderboard h1 {
        font-size: 1.5rem !important;
    }

    .main-cont input {
        font-size: 10px;
        padding: 10px;
        width: 200px;
    }

    .main-cont #bid-btn, #category-btn, #answerSubmit{
        font-size: 14px;
        padding: 8px;
        width: auto;
    }

    #timer, #bid-history li {
        font-size: 1.1rem !important;
    }
}