#typewriter {
  text-align: center;
  color: white;
  font-family: Zekton;
  font-size: 2vw;
}

.btn {
  margin: 0 1%;
}

.fab {
  font-size: 2em !important;
}

.txt {
  padding-right: 10px;
  border-right: 3px solid white;
}

#auth-btns {
  text-align: center;
  margin-top: 3%;
}

@media screen and (max-width: 1030px) {
  /* start of medium tablet styles */

  #title {
    font-size: 10vw;
  }

  #typewriter {
    font-size: 4.5vw;
  }

  .btn {
    width: 15vw;
    margin-top: 10%;
  }

  .btn h1 {
    font-size: 5vw;
  }

  #auth-btns {
    margin-top: 5%;
    display: grid;
    justify-content: center;
  }

  #footer h2 {
    font-size: 3vw;
  }

  #arhn {
    width: 50px;
  }

  #glug {
    width: 50px;
  }

  .social {
    font-size: 17px;
    margin: 0 2.5%;
  }
}

@media only screen and (max-width: 576px) {
  .btn {
    width: 25vw;
  }

  .fab {
    font-size: 1.3em !important;
  }
}